<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianfu.dao.UserMapper">
	
	<!--根据用户邮箱获取客户信息 -->
	<select id="find" parameterType="com.tianfu.entity.User"
		resultType="com.tianfu.entity.User">
		select * from user_t where post_box = #{post_box}
	</select>
	
	<!--添加数据 -->
	<insert id="add" parameterType="com.tianfu.entity.User" >
		insert into 									
		user_t (post_box,user_name,password,sex,telephone,authority) 
		values (#{post_box},#{user_name},#{password},#{sex},#{telephone},#{authority}) 
	</insert>
	
	<!-- 更新数据 -->
	<update id="update" parameterType="com.tianfu.entity.User" >
		update user_t 
		
	</update>
	<!-- 删除数据 -->
	<delete id="delete" parameterType="com.tianfu.entity.User" >
			delete from user_t where post_box=#{post_box} 
	</delete>
	
</mapper>