<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianfu.dao.EquipmentMapper">
	<resultMap id="ResultMap" type="com.tianfu.domain.Equipment" >
	    <id column="name" property="name"  					   javaType="String" jdbcType="VARCHAR" />
	    <result column="login_time" 	property="login_time"  javaType="java.util.Date" jdbcType="TIMESTAMP" />
	    <result column="logout_time"	property="logout_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
	    <result column="state" 			property="state"       javaType="String" jdbcType="VARCHAR"/>
	    <result column="done_thing" 	property="done_thing"  javaType="String" jdbcType="VARCHAR"/>
	    <result column="image_path" 	property="image_path"  javaType="String" jdbcType="VARCHAR"	/>
	    <result column="category" 		property="category"    javaType="String" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!--根据设备编号获取设备信息 -->
	<select id="find" parameterType="com.tianfu.domain.Equipment"
		resultType="com.tianfu.domain.Equipment">
		select * from equipment_t where name = #{name}
	</select>
	<select id="findAll" resultMap="ResultMap">
		select * from equipment_t 
	</select>
	
	<!--添加数据 -->
	<insert id="add" parameterType="com.tianfu.domain.Equipment" >
		insert into equipment_t  (name,login_time,logout_time,state,done_thing,image_path) 
					values(#{name},#{login_time},#{logout_time},#{state},#{done_thing},#{image_path}) 
	</insert>
	
	<!-- 更新数据 -->
	<!-- 设置语句之后 记得打逗号 语法错误 -->
	<update id="update" parameterType="com.tianfu.domain.Equipment">
		update equipment_t 
		<set>
			<if test="login_time !=null and login_time !=''">
				login_time = #{login_time},
			</if>
			<if test="logout_time !=null and logout_time!=''">
				logout_time = #{logout_time},
			</if>
			<if test="state !=null and state!='' ">
				state = #{state},
			</if>
			<if test="done_thing !=null and done_thing!=''">
				done_thing = #{done_thing},
			</if>
			<if test="category !=null and category!=''">
				category = #{category},
			</if>
			<if test="image_path !=null and image_path!=''">
				image_path = #{image_path},
			</if>
		</set>
		where name=#{name}
	</update>
	
	<!-- 删除数据 -->
	<delete id="delete" parameterType="com.tianfu.domain.Equipment" >
			delete from equipment_t where name=#{name} 
	</delete>
	
</mapper>